<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/chat.css">

  </head>
  <body>

    {{#if username}}
        <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="navigation">
                        <li><a href="index">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="post">Post a Job</a></li>
                        <li><strong>Hello,</strong> {{username}}</li>
                        <li><a href="logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="messages">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h3>Other Chats:</h3>
                    <form action="chat" method="GET">
                        <input type="text" placeholder="Search for a new user:" name="user">
                    </form>

                    <script src="js/chatUsers.js"></script>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="users"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                        <div class="row message-box">
                            <div class="col-md-6">
                                <ul id="messages2"></ul>
                            </div>
                            <div class="col-md-6">
                                 <ul id="messages1" style="float: right"></ul>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-12">
                                <form id="chat-form">
                                    <input id="message-input" type="text" />
                                    <button type="submit">Send</button>
                                </form>
                            </div>
                        </div>

                        <script src="/socket.io/socket.io.js"></script>
                        <script>
                            let username = "{{username}}";
                        </script>
                        <script src="js/chat.js"></script>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="navigation">
                        <li>Terms & Conditions</li>
                        <li>Copyright</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{/if}}
  </body>
</html>
