<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/chat.css">

  </head>
<body>

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="navigation">
                        <li><a href="index">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="post">Post a Job</a></li>
                        <li><a href="about">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="navigation">
                        {{#if username}}
                            <li>Hello, <strong>{{username}}</strong></li>
                            <li><a href="logout">Log Out</a></li>
                        {{else}}
                            <li><a href="login">Log In</a></li>
                            <li><a href="register">Register</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="messages">
        <div class="container">
            <div class="row">
                <div class="col-md-3 chat-area">
                    <h3>Other Chats:</h3>
                    <form action="chat" method="GET">
                        <input type="text" placeholder="Search for a user:" name="user" id="search-user">
                    </form>

                    <script src="js/chatUsers.js"></script>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="users"></ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <h2 id="name"></h2>
                        <script>
                            let name = document.getElementById('name');
                            const url = new URLSearchParams(window.location.search);
                            if(url.get('user')){
                                let get = url.get('user');
                                name.innerHTML = "You're talking to: " + get;
                            } else {
                                name.innerHTML = "Try chatting with someone";
                            }
                        </script>
                    </div>

                    <div class="row message-box">
                        <div class="col-md-12">
                                <ul id="messages"></ul>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-12">
                            <form id="chat-form">
                                <input id="message-input" type="text" required/>
                                <button type="submit">Send</button>
                            </form>
                        </div>
                    </div>

                    <script src="/socket.io/socket.io.js"></script>
                    <script>
                        let username = "{{username}}";
                    </script>
                    <script src="js/chat.js"></script>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="navigation">
                        <li>Terms & Conditions</li>
                        <li>Copyright</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
