<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="navigation">
                        <li><a href="index">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="post">Post a Job</a></li>
                        <li><a href="about">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="navigation">
                        {{#if username}}
                            <li>Hello, <strong>{{username}}</strong></li>
                            <li><a href="logout">Log Out</a></li>
                        {{else}}
                            <li><a href="login">Log In</a></li>
                            <li><a href="register">Register</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Log In</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="/login" method="POST">
                        <p>
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" required>
                        </p>

                        <p>
                            <label for="passwd">Password</label>
                            <input type="password" name="passwd" id="passwd" required>
                        </p>

                        <p>
                            <input type="submit" value="Log In">
                        </p>

                        <p class="register-link">
                            Don't have an account? |
                            <a href="/register">Register here</a>
                        </p>

                        {{#if message_login}}
                            <h4 class="alert alert-danger mt-4">{{message_login}}</h4>
                        {{/if}}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="navigation">
                        <li>Terms & Conditions</li>
                        <li>Copyright</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>