<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="navigation">
                        <li><a href="index">Home</a></li>
                        <li><a href="chat">Chat</a></li>
                        <li><a href="post">Post a Job</a></li>
                        <li><a href="about">About Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="navigation">
                        {{#if username}}
                            <li>Hello, <strong>{{username}}</strong></li>
                            <li><a href="logout">Log Out</a></li>
                        {{else}}
                            <li><a href="login">Log In</a></li>
                            <li><a href="register">Register</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Register Here</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="/register" method="POST" id="register">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" required>
                                </p>

                                <p>
                                    <label for="passwd">Password</label>
                                    <input type="password" name="passwd" id="passwd" required>
                                </p>

                                <p>
                                    <label for="passwd_cnf">Confirm Password</label>
                                    <input type="password" name="passwd_cnf" id="passwd_cnf" required>
                                </p>

                                <p>
                                    <label for="fname">First Name</label>
                                    <input type="text" name="fname" id="fname" required>
                                </p>

                                <p>
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lname" id="lname" required>
                                </p>

                                <p>
                                    <label for="address">Official Address</label>
                                    <input type="text" name="address" id="adress" required>
                                </p>

                                <p>
                                    <label for="CNP">CNP</label>
                                    <input type="text" name="CNP" id="CNP" required>
                                </p>

                                <p>
                                    <input type="submit" value="Register" class="btn btn-primary">
                                </p>
                            </div>
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Place your home location</h2>
                                    </div>
                                </div>

                                <div id="map">
                                    <script src="js/generateMap.js"></script>
                                </div>
                            
                                <input type="hidden" name="lat" id="lat">
                                <input type="hidden" name="lng" id="lng">

                                <script>
                                
                                    var marker;

                                    map.on('click', function(e) {
                                        if (marker) {
                                            map.removeLayer(marker);
                                        }

                                        marker = L.marker(e.latlng).addTo(map);
                                    });

                                    var form = document.getElementById('register');

                                    form.addEventListener('submit', function(e) {
                                        e.preventDefault();

                                        var lat = marker.getLatLng().lat;
                                        var lng = marker.getLatLng().lng;

                                        document.getElementById('lat').value = lat;
                                        document.getElementById('lng').value = lng;

                                        // Submit the form to your server
                                        form.submit();
                                    });
                                </script>
                            </div>
                                    
                        </div>
                      
                        <div class="row">
                            {{#if message_register}}
                                <h4 class="alert alert-danger mt-4">{{message_register}}</h4>          
                            {{/if}} 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="navigation">
                        <li>Terms & Conditions</li>
                        <li>Copyright</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>