.map-box {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.map-box ul {
    padding-left: 0;
}

.map-box a {
    width: 100%;
    display: inline-block;
}

form {
    margin-bottom: 20px;
  }

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#result {
    margin-top: 10px;
}

/* Map Points Styling */

a {
    text-decoration: none;
}

h5 {
    color: seagreen;
    font-weight: bold;
    margin-bottom: 5px;
}

.name, .description {
    color: black;
}

#result ul li {
    padding: 5px;
    margin: 2px;
    width: 100%;
    background-color: rgba(32, 178, 171, 0.500);
    list-style: none;
}

#result ul li:hover {
    background: darkseagreen;
}

#result ul a{
    text-decoration: none;
    color: black;
}

h1 {
    margin-bottom: 20px;
    color: seagreen;
}