.header, .footer{
    background-color: lightseagreen;
}

.header .navigation, .footer .navigation{
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.header .navigation li, .footer .navigation li{
    display: inline-block;
    margin-right: 10px;
}

.header .navigation li a, .footer .navigation li a{
    color: black;
    text-decoration: none;
}

.content{
    padding-top: 20px;
    padding-bottom: 20px;
}

#result ul li {
    padding: 5px;
    /* Need other solution*/
    margin: 2px;
    max-width: 230px;

    background-color: lightgrey;
    list-style: none;
}

#result ul li:hover {
    background: #eee;
}

#result ul a{
    text-decoration: none;
    color: black;
}

#map{
    height: 700px;
}