.header, .footer{
    background-color: lightseagreen;
}

.header .navigation, .footer .navigation{
    padding: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.header .navigation li, .footer .navigation li{
    display: inline-block;
    margin-right: 10px;
}

.header .navigation li a, .footer .navigation li a{
    color: black;
    text-decoration: none;
}

.content{
    padding-top: 20px;
    padding-bottom: 20px;
}

#result ul li {
    padding: 5px;
    /* Need other solution*/
    margin: 2px;
    max-width: 230px;

    background-color: rgba(32, 178, 171, 0.500);
    list-style: none;
}

#result ul li:hover {
    background: darkseagreen;
}

#result ul a{
    text-decoration: none;
    color: black;
}

#map{
    height: 700px;
}

.col-md-3 .navigation{
    text-align: right;
    padding-right: 0;
}

/* Map Points Styling */

a {
    text-decoration: none;
}

h5 {
    color: seagreen;
    font-weight: bold;
    margin-bottom: 5px;
}

.name, .description {
    color: black;
}
